# Python String Methods

# <u> 1.capitalize()</u>

## The first character is converted to upper case, and the rest are converted to lower case:

### <u>example1.</u>

In [23]:

text = "python Is InterestinG!"
example = text.capitalize()
print(example)

Python is interesting!

### <u>example2.</u>

In [27]:
example_2 = "this is a string METHOD"
example = example_2.capitalize()
print(example)

This is a string method

# <u> 2.casefold()</u>

## The casefold() method returns a string where all the characters are lower case.

### <u>example1.</u>

In [42]:
text = "Python Is InterestinG!"
example = text.casefold()
print(example)

python is interesting!

### <u>example2.</u>

In [47]:
example_2 = "This Is a string METHOD"
example = example_2.casefold()
print(example)

this is a string method

# <u>3.Center()</u>

## The center() method will center align the string, using a specified character (space is default) as the fill character.

### <u>example1.</u>

In [56]:
example ="This is the fall season"
text = example.center(50)
print(text)

             This is the fall season

### <u>example2.</u>

In [59]:
example ="this text is centered"
text = example.center(65)
print(text)

                      this text is centered

# <u> 4.Count</u>

## The count() method returns the number of times a specified value appears in the string.

### <u> example1.</u>

In [66]:
text = "This is string methods, working with string is fun"
example =text.count("string")
print(example)

2

 ### <u>example2.</u>

In [68]:
text = "it is what it is "
example =text.count("what")
print(example)

1

# <u>5.encode()</u>

## The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.

### <u> example1.</u>

In [76]:
text = "it is a tåle"
example=text.encode()
print(example)

b'it is a t\xc3\xa5le'

### <u> example2.</u>

In [79]:
text = "this is å stråwberry"
example=text.encode()
print(example)

b'this is \xc3\xa5 str\xc3\xa5wberry'

# <u>6.endswith() </u>

## The endswith() method returns True if the string ends with the specified value, otherwise False.

### <u>example1.</u>

In [85]:
text ="It is raining!"
example=text.endswith("!")
print(example)

True

### <u>example2.</u>

In [101]:
text = "it is cold outside"
example=text.endswith("e")
print(example)

True

# 7.<u>Expandtabs()</u>

## The expandtabs() method sets the tab size to the specified number of whitespaces.

### <u>example1</u>

In [97]:
text ="p\ty\tt\th\to\tn"
example=text.expandtabs(3)
print(example)

p  y  t  h  o  n

### <u>example2</u>

In [108]:
text ="D\tA\t9"
example=text.expandtabs(2)
print(example)

D A 9

# <u>8.find()</u>

## The find() method finds the first occurrence of the specified value,method returns -1 if the value is not found.

### <u>example1.<u/>

In [115]:
text="this is python"
example=text.find("python")
print(example)

8

### <u>example2.</u>

In [117]:
text="the weather is sunny"
example=text.find("is")
print(example)

12

# <u>8.format()</u>

In [ ]:
The format() method formats the specified value(s) and insert them inside the string's placeholder.

### <u>example1.</u>

In [119]:
text="my name is {fname},i'm {age}".format(fname="shraddha",age=22)
print(text)

my name is shraddha,i'm 22

### <u>example2.</u>

In [121]:
text="today is {day}".format(day="sunday")
print(text)

today is sunday

# <u>9.index()</u>

## The index() method finds the first occurrence of the specified value, raises an exception if the value is not found.

### <u>example1.</u>

In [123]:
text="today is sunday"
example=text.index("sunday")
print(example)

9

### <u>example2.</u>

In [125]:
text="this is an apple"
example=text.index("an")
print(example)

8

# 10.isalnum()

## The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).
## Example of characters that are not alphanumeric: (space)!#%&? etc.

### <u>example1</u>

In [8]:
text ="hello 67"
example = text.isalnum()
print(example)

False

### <u>example2</u>

In [20]:
text ="###"
example =text.isalnum()
print(example)

False

# 11.isalpha()

## The isalpha() method returns True if all the characters are alphabet letters (a-z).

### <u> example1</u>

In [27]:
text ="hello"
example = text.isalpha()
print(example)

True

### <u>example2</u>

In [30]:
text ="###"
example =text.isalpha()
print(example)

False

# 12.isascii()

## The isascii() method returns True if all the characters are ascii characters  (a-z).

### <u>example1</u>

In [36]:
text ="hello"
example = text.isascii()
print(example)

True

### <u>example2</u>

In [39]:
text ="###"
example =text.isascii()
print(example)

True

# <u>13.isdecimal()</u>

## The isdecimal() method returns True if all the characters are decimals (0-9).

### <u>example1</u>

In [44]:
text ="123"
example =text.isdecimal()
print(example)

True

### <u>example2</u>

In [48]:
text ="hello"
example = text.isdecimal()
print(example)

False

# <u>14.isdigit() </u>

## The isdigit() method returns True if all the characters are digits, otherwise False.

### <u>example1</u>

In [53]:
text ="123"
example =text.isdigit()
print(example)

True

### <u>example2</u>

In [56]:
text ="hello"
example = text.isdigit()
print(example)

False

# 15.<u>isidentifier() </u>

## The isidentifier() method returns True if the string is a valid identifier, otherwise False.

### <u>example1</u>

In [61]:
text ="hello"
example = text.isidentifier()
print(example)

True

### <u>example2</u>

In [63]:
text ="123"
example =text.isidentifier()
print(example)

False

# <u>16.islower()</u>

## The islower() method returns True if all the characters are in lower case, otherwise False.

### <u>example1</u>

In [5]:
text = "hello world!"

example = text.islower()

print(example)

True

### <u>example2</u>

In [10]:
text= "DA9"
example =text.islower()
print(example)

False

# <u>17.isnumeric() </u>

## The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.
## Exponents, like ² and ¾ are also considered to be numeric values.

### <u>example1</u>

In [19]:
text="1234"
example=text.isnumeric()
print(example)

True

### <u>example2</u>

In [21]:
text="hello"
example=text.isnumeric()
print(example)

False

# <u>18.isprintable()</u>

## The isprintable() method returns True if all the characters are printable, otherwise False.

### <u>example1</u>

In [1]:
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

### <u>example2</u>

In [5]:
txt = "Hello!"

x = txt.isprintable()

print(x)

True

# <u>19.isspace() </u>

## The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.

### <u>example1.</u>

In [13]:
text = "   s   "

example = txt.isspace()

print(example)

False

### <u>example2.</u>

In [23]:
text = "pqrs"

example = txt.isspace()

print(example)

False

# <u>20.istitle()</u>

## The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

### <u>example1.</u>

In [32]:
text ="It is raining!"
example=text.istitle()
print(example)

False

### <u>example2.</u>

In [36]:
text ="Hello World!"
example=text.istitle()
print(example)

True

# <u>21.isupper()</u>

## The isupper() method returns True if all the characters are in upper case, otherwise False.
## Numbers, symbols and spaces are not checked, only alphabet characters.

### <u>example1.</u>

In [43]:
text = "ARC DA9!"

example = text.isupper()

print(example)

True

### <u>example2.</u>

In [46]:
text = "Hello!"

example = text.isupper()

print(example)

False

# <u>22.join()</u>

## The join() method takes all items in an iterable and joins them into one string.

### <u>example1.</u>

In [48]:
myTuple = ("Amazing", "game", "football")

x = "#".join(myTuple)

print(x)

Amazing#game#football

### <u>example2.</u>

In [50]:
myTuple = ("It", "is", "sunny")

x = "_".join(myTuple)

print(x)

It_is_sunny

# <u> 23.ljust()</u>

## The ljust() method will left align the string, using a specified character (space is default) as the fill character.

### <u>example1.</u>

In [54]:
txt = "strawberry"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

strawberry           is my favorite fruit.

### <u>example2.</u>

In [58]:
txt = "cricket"

x = txt.ljust(30)

print(x, "is my favorite sports.")

cricket                        is my favorite sports.

# <u> 24.lstrip() </u>

## The lstrip() method removes any leading characters (space is the default leading character to remove)

### <u>example1.</u>

In [60]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

### <u>example2.</u>

In [62]:
txt = "  cricket     "

x = txt.lstrip()

print("of all sports", x, "is my favorite")

of all sports cricket      is my favorite

# 25.<u>replace()</u>

## The replace() method replaces a specified phrase with another specified phrase.

### <u>example1.</u>

In [78]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

### <u>example2.</u>

In [85]:
txt = "I like cricket"

x = txt.replace("cricket", "basketball")

print(x)

I like basketball

# <u>26.rfind() </u>

## The rfind() method finds the last occurrence of the specified value.

### <u>example1.</u>

In [92]:
txt = "I am a doctor, a heart doctor"

x = txt.rfind("doctor")

print(x)

23

### <u>example2.</u>

In [94]:
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

# <u>27.rstrip() </u>

## The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

### <u>example1.</u>

In [101]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

### <u>example2.</u>

In [103]:
txt = "     nagpur     "

x = txt.rstrip()

print("I live in", x, "city")

I live in      nagpur city